<a href="https://colab.research.google.com/github/asksawant/kaggle-survey-2022/blob/main/data-preparation/Script3_Data_preparation_Melted_dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# importing the libraries
import pandas as pd
import numpy as np
from tqdm import tqdm
import re

import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go

import scipy.stats
from scipy.stats import chi2

# pandas setting
pd.set_option('display.max_columns', None)

import sys
np.set_printoptions(threshold=np.inf)

Reading the cleaning from initial data preparation

Dataset contains survey from year 2018 to 2022

We wiil use kaggle survey 2022 as our base and prepare data accordingly

In [ ]:
# reading the files
# file paths
ks_fp = '/content/drive/MyDrive/ml-workspace/kaggle/comp/kaggle-survey/data/kaggle_survey_2018_2022.csv'

In [ ]:
ks = pd.read_csv(ks_fp, low_memory=False)

In [ ]:
ks.head(2)

,sid,Year,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296
0,2022_0,2022,121,30-34,Male,India,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Other,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022_1,2022,462,30-34,Male,Algeria,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Univ. Courses,NaN,NaN,University courses,NaN,NaN,NaN,"Kaggle (notebooks, competitions, etc)",NaN,NaN,Master's degree,Yes,NaN,NaN,No,1-3 years,NaN,NaN,NaN,NaN,NaN,NaN,Java,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Notepad++,NaN,NaN,NaN,NaN,NaN,NaN,Other,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,Matplotlib,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,< 1 year,Scikit-learn,TensorFlow,NaN,PyTorch,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bayesian Approaches,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"No, I do not download pre-trained model weight...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
ks.shape

(113582, 298)

In [ ]:
ks[['sid','Year','2','3','4','146']].isnull().sum()

sid         0
Year        0
2           0
3           0
4           0
146     15695
dtype: int64

In [ ]:
# Select the title most similar to your current role (or most recent title if retired): - Selected Choice
l1 = ks['146'].unique()
l2 = ks['146'][ks['Year']==2022].unique()
old_list = list(set(l1).difference(l2))
old_list

['Student']

We can see that student option was not present in the 2022 survey. There was seperate question for this question number 5. So let's add role as student if there is NA value present

In [ ]:
ks['146'].value_counts()

Student                    21242
Data Scientist             16443
Data Analyst               12265
Software Engineer          11232
Other                       9860
Unemployed                  6854
Research Scientist          5964
Manager                     4433
ML/MLops Engg               3152
Data Engineer               2818
Statistician                1287
Teacher / professor          833
Data Administrator           667
Engineer (non-software)      465
Developer Advocate           277
Data Architect                95
Name: 146, dtype: int64

In [ ]:
ks['5'][(ks['Year']==2022)].unique()

array(['No', 'Yes'], dtype=object)

In [ ]:
ks[['Year','5','146']][(ks['Year']==2022) & (ks['5']=='Yes')].isnull().sum()

Year        0
5           0
146     11961
dtype: int64

In [ ]:
ks.loc[(ks['Year']==2022) & (ks['5']=='Yes') & (ks['146'].isnull()),'146'] = 'Student'

In [ ]:
ks[['Year','5','146']][(ks['Year']==2022) & (ks['5']=='Yes')].isnull().sum()

Year    0
5       0
146     0
dtype: int64

In [ ]:
ks[['sid','Year','2','3','4','146']].isnull().sum()

sid        0
Year       0
2          0
3          0
4          0
146     3734
dtype: int64

Lets fill this value with 'Not disclose'

In [ ]:
ks['146'] = ks['146'].fillna('Not Disclose')

In [ ]:
ks[['sid','Year','2','3','4','146']].isnull().sum()

sid     0
Year    0
2       0
3       0
4       0
146     0
dtype: int64

This columns will be our keys, and we have cleaned them.
- `sid`: unique key of the respondent
- `Year`: Survey year
- `2`: What is your age?
- `3`: What is your gender?
- `4`: In which country do you currently reside?
- `146`: Title most similar to your current role

Let's move forward

In [ ]:
# ks.rename(columns={'2':'age','3':'gender','4':'country','146':'role','1':'duration'},inplace=True)

In [ ]:
# keys = ['sid','Year','age','gender','country','role']

In [ ]:
# # Creating the fact table of the respondent
# cols = keys.copy()
# cols.extend(['duration']) # adding the duration column
# fact_about = ks[cols]
# fact_about.to_csv('/content/drive/MyDrive/ml-workspace/kaggle/comp/kaggle-survey/data/tables/Fact_Respondent.csv',index=False)

Dimension: Learning
Questions
- On which platforms have you begun or completed data science courses?
- What products or platforms did you find to be most helpful when you first started studying data science?
- Who/what are your favorite media sources that report on data science topics?

In [ ]:
# # Dimension learning
# cols = keys.copy()
# cols.extend(['6','7','8','9','10','11','12','13','14','15','16','17'])
# dl_ds_course = ks[cols]
# dl_ds_course.to_csv('/content/drive/MyDrive/ml-workspace/kaggle/comp/kaggle-survey/data/tables/Dim_learning_ds_courses.csv',index=False)

In [ ]:
# dl_ds_course.pivot_table(values=6,index=['age'],)

In [ ]:
ks1 = ks.copy()
ks1.head(1)

,sid,Year,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296
0,2022_0,2022,121,30-34,Male,India,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Other,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Not Disclose,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
ks1.shape

(113582, 298)

In [ ]:
slist = ['sid','Year','1','2','3','4','146','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31','32','33','34','35','36','37','38','39','40','41','42','43','44','45','46','47','48','49','50','51','52','53','54','55','56','57','58','59','60','61','62','63','64','65','66','67','68','69','70','71','72','73','74','75','76','77','78','79','80','81','82','83','84','85','86','87','88','89','90','91','92','93','94','95','96','97','98','99','100','101','102','103','104','105','106','107','108','109','110','111','112','113','114','115','116','117','118','119','120','121','122','123','124','125','126','127','128','129','130','131','132','133','134','135','136','137','138','139','140','141','142','143','144','145','147','148','149','150','151','152','153','154','155','156','157','158','159','160','161','162','163','164','165','166','167','168','169','170','171','172','173','174','175','176','177','178','179','180','181','182','183','184','185','186','187','188','189','190','191','192','193','194','195','196','197','198','199','200','201','202','203','204','205','206','207','208','209','210','211','212','213','214','215','216','217','218','219','220','221','222','223','224','225','226','227','228','229','230','231','232','233','234','235','236','237','238','239','240','241','242','243','244','245','246','247','248','249','250','251','252','253','254','255','256','257','258','259','260','261','262','263','264','265','266','267','268','269','270','271','272','273','274','275','276','277','278','279','280','281','282','283','284','285','286','287','288','289','290','291','292','293','294','295','296']
nlist = ['sid','Year','duration','age','gender','country','role','Q5','Q6_1','Q6_2','Q6_3','Q6_4','Q6_5','Q6_6','Q6_7','Q6_8','Q6_9','Q6_10','Q6_11','Q6_12','Q7_1','Q7_2','Q7_3','Q7_4','Q7_5','Q7_6','Q7_7','Q8','Q9','Q10_1','Q10_2','Q10_3','Q11','Q12_1','Q12_2','Q12_3','Q12_4','Q12_5','Q12_6','Q12_7','Q12_8','Q12_9','Q12_10','Q12_11','Q12_12','Q12_13','Q12_14','Q12_15','Q13_1','Q13_2','Q13_3','Q13_4','Q13_5','Q13_6','Q13_7','Q13_8','Q13_9','Q13_10','Q13_11','Q13_12','Q13_13','Q13_14','Q14_1','Q14_2','Q14_3','Q14_4','Q14_5','Q14_6','Q14_7','Q14_8','Q14_9','Q14_10','Q14_11','Q14_12','Q14_13','Q14_14','Q14_15','Q14_16','Q15_1','Q15_2','Q15_3','Q15_4','Q15_5','Q15_6','Q15_7','Q15_8','Q15_9','Q15_10','Q15_11','Q15_12','Q15_13','Q15_14','Q15_15','Q16','Q17_1','Q17_2','Q17_3','Q17_4','Q17_5','Q17_6','Q17_7','Q17_8','Q17_9','Q17_10','Q17_11','Q17_12','Q17_13','Q17_14','Q17_15','Q18_1','Q18_2','Q18_3','Q18_4','Q18_5','Q18_6','Q18_7','Q18_8','Q18_9','Q18_10','Q18_11','Q18_12','Q18_13','Q18_14','Q19_1','Q19_2','Q19_3','Q19_4','Q19_5','Q19_6','Q19_7','Q19_8','Q20_1','Q20_2','Q20_3','Q20_4','Q20_5','Q20_6','Q21_1','Q21_2','Q21_3','Q21_4','Q21_5','Q21_6','Q21_7','Q21_8','Q21_9','Q21_10','Q22','Q24','Q25','Q26','Q27','Q28_1','Q28_2','Q28_3','Q28_4','Q28_5','Q28_6','Q28_7','Q28_8','Q29','Q30','Q31_1','Q31_2','Q31_3','Q31_4','Q31_5','Q31_6','Q31_7','Q31_8','Q31_9','Q31_10','Q31_11','Q31_12','Q32','Q33_1','Q33_2','Q33_3','Q33_4','Q33_5','Q34_1','Q34_2','Q34_3','Q34_4','Q34_5','Q34_6','Q34_7','Q34_8','Q35_1','Q35_2','Q35_3','Q35_4','Q35_5','Q35_6','Q35_7','Q35_8','Q35_9','Q35_10','Q35_11','Q35_12','Q35_13','Q35_14','Q35_15','Q35_16','Q36_1','Q36_2','Q36_3','Q36_4','Q36_5','Q36_6','Q36_7','Q36_8','Q36_9','Q36_10','Q36_11','Q36_12','Q36_13','Q36_14','Q36_15','Q37_1','Q37_2','Q37_3','Q37_4','Q37_5','Q37_6','Q37_7','Q37_8','Q37_9','Q37_10','Q37_11','Q37_12','Q37_13','Q38_1','Q38_2','Q38_3','Q38_4','Q38_5','Q38_6','Q38_7','Q38_8','Q39_1','Q39_2','Q39_3','Q39_4','Q39_5','Q39_6','Q39_7','Q39_8','Q39_9','Q39_10','Q39_11','Q39_12','Q40_1','Q40_2','Q40_3','Q40_4','Q40_5','Q40_6','Q40_7','Q40_8','Q40_9','Q40_10','Q40_11','Q40_12','Q40_13','Q40_14','Q40_15','Q41_1','Q41_2','Q41_3','Q41_4','Q41_5','Q41_6','Q41_7','Q41_8','Q41_9','Q42_1','Q42_2','Q42_3','Q42_4','Q42_5','Q42_6','Q42_7','Q42_8','Q42_9','Q43','Q44_1','Q44_2','Q44_3','Q44_4','Q44_5','Q44_6','Q44_7','Q44_8','Q44_9','Q44_10','Q44_11','Q44_12']

In [ ]:
ndict = dict(zip(slist,nlist))
print(ndict)

{'sid': 'sid', 'Year': 'Year', '1': 'duration', '2': 'age', '3': 'gender', '4': 'country', '146': 'role', '5': 'Q5', '6': 'Q6_1', '7': 'Q6_2', '8': 'Q6_3', '9': 'Q6_4', '10': 'Q6_5', '11': 'Q6_6', '12': 'Q6_7', '13': 'Q6_8', '14': 'Q6_9', '15': 'Q6_10', '16': 'Q6_11', '17': 'Q6_12', '18': 'Q7_1', '19': 'Q7_2', '20': 'Q7_3', '21': 'Q7_4', '22': 'Q7_5', '23': 'Q7_6', '24': 'Q7_7', '25': 'Q8', '26': 'Q9', '27': 'Q10_1', '28': 'Q10_2', '29': 'Q10_3', '30': 'Q11', '31': 'Q12_1', '32': 'Q12_2', '33': 'Q12_3', '34': 'Q12_4', '35': 'Q12_5', '36': 'Q12_6', '37': 'Q12_7', '38': 'Q12_8', '39': 'Q12_9', '40': 'Q12_10', '41': 'Q12_11', '42': 'Q12_12', '43': 'Q12_13', '44': 'Q12_14', '45': 'Q12_15', '46': 'Q13_1', '47': 'Q13_2', '48': 'Q13_3', '49': 'Q13_4', '50': 'Q13_5', '51': 'Q13_6', '52': 'Q13_7', '53': 'Q13_8', '54': 'Q13_9', '55': 'Q13_10', '56': 'Q13_11', '57': 'Q13_12', '58': 'Q13_13', '59': 'Q13_14', '60': 'Q14_1', '61': 'Q14_2', '62': 'Q14_3', '63': 'Q14_4', '64': 'Q14_5', '65': 'Q14_6', '66': 'Q14_7', '67': 'Q14_8', '68': 'Q14_9', '69': 'Q14_10', '70': 'Q14_11', '71': 'Q14_12', '72': 'Q14_13', '73': 'Q14_14', '74': 'Q14_15', '75': 'Q14_16', '76': 'Q15_1', '77': 'Q15_2', '78': 'Q15_3', '79': 'Q15_4', '80': 'Q15_5', '81': 'Q15_6', '82': 'Q15_7', '83': 'Q15_8', '84': 'Q15_9', '85': 'Q15_10', '86': 'Q15_11', '87': 'Q15_12', '88': 'Q15_13', '89': 'Q15_14', '90': 'Q15_15', '91': 'Q16', '92': 'Q17_1', '93': 'Q17_2', '94': 'Q17_3', '95': 'Q17_4', '96': 'Q17_5', '97': 'Q17_6', '98': 'Q17_7', '99': 'Q17_8', '100': 'Q17_9', '101': 'Q17_10', '102': 'Q17_11', '103': 'Q17_12', '104': 'Q17_13', '105': 'Q17_14', '106': 'Q17_15', '107': 'Q18_1', '108': 'Q18_2', '109': 'Q18_3', '110': 'Q18_4', '111': 'Q18_5', '112': 'Q18_6', '113': 'Q18_7', '114': 'Q18_8', '115': 'Q18_9', '116': 'Q18_10', '117': 'Q18_11', '118': 'Q18_12', '119': 'Q18_13', '120': 'Q18_14', '121': 'Q19_1', '122': 'Q19_2', '123': 'Q19_3', '124': 'Q19_4', '125': 'Q19_5', '126': 'Q19_6', '127': 'Q19_7', '128': 'Q19_8', '129': 'Q20_1', '130': 'Q20_2', '131': 'Q20_3', '132': 'Q20_4', '133': 'Q20_5', '134': 'Q20_6', '135': 'Q21_1', '136': 'Q21_2', '137': 'Q21_3', '138': 'Q21_4', '139': 'Q21_5', '140': 'Q21_6', '141': 'Q21_7', '142': 'Q21_8', '143': 'Q21_9', '144': 'Q21_10', '145': 'Q22', '147': 'Q24', '148': 'Q25', '149': 'Q26', '150': 'Q27', '151': 'Q28_1', '152': 'Q28_2', '153': 'Q28_3', '154': 'Q28_4', '155': 'Q28_5', '156': 'Q28_6', '157': 'Q28_7', '158': 'Q28_8', '159': 'Q29', '160': 'Q30', '161': 'Q31_1', '162': 'Q31_2', '163': 'Q31_3', '164': 'Q31_4', '165': 'Q31_5', '166': 'Q31_6', '167': 'Q31_7', '168': 'Q31_8', '169': 'Q31_9', '170': 'Q31_10', '171': 'Q31_11', '172': 'Q31_12', '173': 'Q32', '174': 'Q33_1', '175': 'Q33_2', '176': 'Q33_3', '177': 'Q33_4', '178': 'Q33_5', '179': 'Q34_1', '180': 'Q34_2', '181': 'Q34_3', '182': 'Q34_4', '183': 'Q34_5', '184': 'Q34_6', '185': 'Q34_7', '186': 'Q34_8', '187': 'Q35_1', '188': 'Q35_2', '189': 'Q35_3', '190': 'Q35_4', '191': 'Q35_5', '192': 'Q35_6', '193': 'Q35_7', '194': 'Q35_8', '195': 'Q35_9', '196': 'Q35_10', '197': 'Q35_11', '198': 'Q35_12', '199': 'Q35_13', '200': 'Q35_14', '201': 'Q35_15', '202': 'Q35_16', '203': 'Q36_1', '204': 'Q36_2', '205': 'Q36_3', '206': 'Q36_4', '207': 'Q36_5', '208': 'Q36_6', '209': 'Q36_7', '210': 'Q36_8', '211': 'Q36_9', '212': 'Q36_10', '213': 'Q36_11', '214': 'Q36_12', '215': 'Q36_13', '216': 'Q36_14', '217': 'Q36_15', '218': 'Q37_1', '219': 'Q37_2', '220': 'Q37_3', '221': 'Q37_4', '222': 'Q37_5', '223': 'Q37_6', '224': 'Q37_7', '225': 'Q37_8', '226': 'Q37_9', '227': 'Q37_10', '228': 'Q37_11', '229': 'Q37_12', '230': 'Q37_13', '231': 'Q38_1', '232': 'Q38_2', '233': 'Q38_3', '234': 'Q38_4', '235': 'Q38_5', '236': 'Q38_6', '237': 'Q38_7', '238': 'Q38_8', '239': 'Q39_1', '240': 'Q39_2', '241': 'Q39_3', '242': 'Q39_4', '243': 'Q39_5', '244': 'Q39_6', '245': 'Q39_7', '246': 'Q39_8', '247': 'Q39_9', '248': 'Q39_10', '249': 'Q39_11', '250': 'Q39_12', '251': 'Q40_1', '252': 'Q40_2', '253': 'Q40_3', '254': 'Q40_4', '255': 'Q40_5', '256': 'Q40_6', '257': 'Q40_7', '258': 'Q40_8', '259': 'Q40_9', '260': 'Q40_10', '261': 'Q40_11', '262': 'Q40_12', '263': 'Q40_13', '264': 'Q40_14', '265': 'Q40_15', '266': 'Q41_1', '267': 'Q41_2', '268': 'Q41_3', '269': 'Q41_4', '270': 'Q41_5', '271': 'Q41_6', '272': 'Q41_7', '273': 'Q41_8', '274': 'Q41_9', '275': 'Q42_1', '276': 'Q42_2', '277': 'Q42_3', '278': 'Q42_4', '279': 'Q42_5', '280': 'Q42_6', '281': 'Q42_7', '282': 'Q42_8', '283': 'Q42_9', '284': 'Q43', '285': 'Q44_1', '286': 'Q44_2', '287': 'Q44_3', '288': 'Q44_4', '289': 'Q44_5', '290': 'Q44_6', '291': 'Q44_7', '292': 'Q44_8', '293': 'Q44_9', '294': 'Q44_10', '295': 'Q44_11', '296': 'Q44_12'}

In [ ]:
ks1.rename(columns=ndict,inplace=True)

In [ ]:
ks1.head(1)

,sid,Year,duration,age,gender,country,Q5,Q6_1,Q6_2,Q6_3,Q6_4,Q6_5,Q6_6,Q6_7,Q6_8,Q6_9,Q6_10,Q6_11,Q6_12,Q7_1,Q7_2,Q7_3,Q7_4,Q7_5,Q7_6,Q7_7,Q8,Q9,Q10_1,Q10_2,Q10_3,Q11,Q12_1,Q12_2,Q12_3,Q12_4,Q12_5,Q12_6,Q12_7,Q12_8,Q12_9,Q12_10,Q12_11,Q12_12,Q12_13,Q12_14,Q12_15,Q13_1,Q13_2,Q13_3,Q13_4,Q13_5,Q13_6,Q13_7,Q13_8,Q13_9,Q13_10,Q13_11,Q13_12,Q13_13,Q13_14,Q14_1,Q14_2,Q14_3,Q14_4,Q14_5,Q14_6,Q14_7,Q14_8,Q14_9,Q14_10,Q14_11,Q14_12,Q14_13,Q14_14,Q14_15,Q14_16,Q15_1,Q15_2,Q15_3,Q15_4,Q15_5,Q15_6,Q15_7,Q15_8,Q15_9,Q15_10,Q15_11,Q15_12,Q15_13,Q15_14,Q15_15,Q16,Q17_1,Q17_2,Q17_3,Q17_4,Q17_5,Q17_6,Q17_7,Q17_8,Q17_9,Q17_10,Q17_11,Q17_12,Q17_13,Q17_14,Q17_15,Q18_1,Q18_2,Q18_3,Q18_4,Q18_5,Q18_6,Q18_7,Q18_8,Q18_9,Q18_10,Q18_11,Q18_12,Q18_13,Q18_14,Q19_1,Q19_2,Q19_3,Q19_4,Q19_5,Q19_6,Q19_7,Q19_8,Q20_1,Q20_2,Q20_3,Q20_4,Q20_5,Q20_6,Q21_1,Q21_2,Q21_3,Q21_4,Q21_5,Q21_6,Q21_7,Q21_8,Q21_9,Q21_10,Q22,role,Q24,Q25,Q26,Q27,Q28_1,Q28_2,Q28_3,Q28_4,Q28_5,Q28_6,Q28_7,Q28_8,Q29,Q30,Q31_1,Q31_2,Q31_3,Q31_4,Q31_5,Q31_6,Q31_7,Q31_8,Q31_9,Q31_10,Q31_11,Q31_12,Q32,Q33_1,Q33_2,Q33_3,Q33_4,Q33_5,Q34_1,Q34_2,Q34_3,Q34_4,Q34_5,Q34_6,Q34_7,Q34_8,Q35_1,Q35_2,Q35_3,Q35_4,Q35_5,Q35_6,Q35_7,Q35_8,Q35_9,Q35_10,Q35_11,Q35_12,Q35_13,Q35_14,Q35_15,Q35_16,Q36_1,Q36_2,Q36_3,Q36_4,Q36_5,Q36_6,Q36_7,Q36_8,Q36_9,Q36_10,Q36_11,Q36_12,Q36_13,Q36_14,Q36_15,Q37_1,Q37_2,Q37_3,Q37_4,Q37_5,Q37_6,Q37_7,Q37_8,Q37_9,Q37_10,Q37_11,Q37_12,Q37_13,Q38_1,Q38_2,Q38_3,Q38_4,Q38_5,Q38_6,Q38_7,Q38_8,Q39_1,Q39_2,Q39_3,Q39_4,Q39_5,Q39_6,Q39_7,Q39_8,Q39_9,Q39_10,Q39_11,Q39_12,Q40_1,Q40_2,Q40_3,Q40_4,Q40_5,Q40_6,Q40_7,Q40_8,Q40_9,Q40_10,Q40_11,Q40_12,Q40_13,Q40_14,Q40_15,Q41_1,Q41_2,Q41_3,Q41_4,Q41_5,Q41_6,Q41_7,Q41_8,Q41_9,Q42_1,Q42_2,Q42_3,Q42_4,Q42_5,Q42_6,Q42_7,Q42_8,Q42_9,Q43,Q44_1,Q44_2,Q44_3,Q44_4,Q44_5,Q44_6,Q44_7,Q44_8,Q44_9,Q44_10,Q44_11,Q44_12
0,2022_0,2022,121,30-34,Male,India,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Other,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Not Disclose,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
ks1.shape

(113582, 298)

In [ ]:
# ks1['Year'] = pd.to_datetime(ks1['Year'], format='%Y')
# ks1['Year'] = ks1['Year'].dt.year

In [ ]:
ks1 = ks1[nlist]
ks1.shape

(113582, 298)

In [ ]:
ks1.head(1)

,sid,Year,duration,age,gender,country,role,Q5,Q6_1,Q6_2,Q6_3,Q6_4,Q6_5,Q6_6,Q6_7,Q6_8,Q6_9,Q6_10,Q6_11,Q6_12,Q7_1,Q7_2,Q7_3,Q7_4,Q7_5,Q7_6,Q7_7,Q8,Q9,Q10_1,Q10_2,Q10_3,Q11,Q12_1,Q12_2,Q12_3,Q12_4,Q12_5,Q12_6,Q12_7,Q12_8,Q12_9,Q12_10,Q12_11,Q12_12,Q12_13,Q12_14,Q12_15,Q13_1,Q13_2,Q13_3,Q13_4,Q13_5,Q13_6,Q13_7,Q13_8,Q13_9,Q13_10,Q13_11,Q13_12,Q13_13,Q13_14,Q14_1,Q14_2,Q14_3,Q14_4,Q14_5,Q14_6,Q14_7,Q14_8,Q14_9,Q14_10,Q14_11,Q14_12,Q14_13,Q14_14,Q14_15,Q14_16,Q15_1,Q15_2,Q15_3,Q15_4,Q15_5,Q15_6,Q15_7,Q15_8,Q15_9,Q15_10,Q15_11,Q15_12,Q15_13,Q15_14,Q15_15,Q16,Q17_1,Q17_2,Q17_3,Q17_4,Q17_5,Q17_6,Q17_7,Q17_8,Q17_9,Q17_10,Q17_11,Q17_12,Q17_13,Q17_14,Q17_15,Q18_1,Q18_2,Q18_3,Q18_4,Q18_5,Q18_6,Q18_7,Q18_8,Q18_9,Q18_10,Q18_11,Q18_12,Q18_13,Q18_14,Q19_1,Q19_2,Q19_3,Q19_4,Q19_5,Q19_6,Q19_7,Q19_8,Q20_1,Q20_2,Q20_3,Q20_4,Q20_5,Q20_6,Q21_1,Q21_2,Q21_3,Q21_4,Q21_5,Q21_6,Q21_7,Q21_8,Q21_9,Q21_10,Q22,Q24,Q25,Q26,Q27,Q28_1,Q28_2,Q28_3,Q28_4,Q28_5,Q28_6,Q28_7,Q28_8,Q29,Q30,Q31_1,Q31_2,Q31_3,Q31_4,Q31_5,Q31_6,Q31_7,Q31_8,Q31_9,Q31_10,Q31_11,Q31_12,Q32,Q33_1,Q33_2,Q33_3,Q33_4,Q33_5,Q34_1,Q34_2,Q34_3,Q34_4,Q34_5,Q34_6,Q34_7,Q34_8,Q35_1,Q35_2,Q35_3,Q35_4,Q35_5,Q35_6,Q35_7,Q35_8,Q35_9,Q35_10,Q35_11,Q35_12,Q35_13,Q35_14,Q35_15,Q35_16,Q36_1,Q36_2,Q36_3,Q36_4,Q36_5,Q36_6,Q36_7,Q36_8,Q36_9,Q36_10,Q36_11,Q36_12,Q36_13,Q36_14,Q36_15,Q37_1,Q37_2,Q37_3,Q37_4,Q37_5,Q37_6,Q37_7,Q37_8,Q37_9,Q37_10,Q37_11,Q37_12,Q37_13,Q38_1,Q38_2,Q38_3,Q38_4,Q38_5,Q38_6,Q38_7,Q38_8,Q39_1,Q39_2,Q39_3,Q39_4,Q39_5,Q39_6,Q39_7,Q39_8,Q39_9,Q39_10,Q39_11,Q39_12,Q40_1,Q40_2,Q40_3,Q40_4,Q40_5,Q40_6,Q40_7,Q40_8,Q40_9,Q40_10,Q40_11,Q40_12,Q40_13,Q40_14,Q40_15,Q41_1,Q41_2,Q41_3,Q41_4,Q41_5,Q41_6,Q41_7,Q41_8,Q41_9,Q42_1,Q42_2,Q42_3,Q42_4,Q42_5,Q42_6,Q42_7,Q42_8,Q42_9,Q43,Q44_1,Q44_2,Q44_3,Q44_4,Q44_5,Q44_6,Q44_7,Q44_8,Q44_9,Q44_10,Q44_11,Q44_12
0,2022_0,2022,121,30-34,Male,India,Not Disclose,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Other,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Adding columns where the respondent has not answered the multiple choice question.

In [ ]:
ques = np.array(ks1.columns)
q_list = [re.sub(r"_\d+","",x) for x in ques]
unique, counts = np.unique(q_list, return_counts=True)
q_arr = (np.asarray((unique, counts)).T)
q_count = pd.DataFrame(q_arr, columns = ['question','count'])
q_count['count'] = q_count['count'].astype('int16')
# ques_dict = dict(q_count[q_count['count'] != 1].values)
ques_dict = dict(q_count.values)
ques_dict

{'Q10': 3,
 'Q11': 1,
 'Q12': 15,
 'Q13': 14,
 'Q14': 16,
 'Q15': 15,
 'Q16': 1,
 'Q17': 15,
 'Q18': 14,
 'Q19': 8,
 'Q20': 6,
 'Q21': 10,
 'Q22': 1,
 'Q24': 1,
 'Q25': 1,
 'Q26': 1,
 'Q27': 1,
 'Q28': 8,
 'Q29': 1,
 'Q30': 1,
 'Q31': 12,
 'Q32': 1,
 'Q33': 5,
 'Q34': 8,
 'Q35': 16,
 'Q36': 15,
 'Q37': 13,
 'Q38': 8,
 'Q39': 12,
 'Q40': 15,
 'Q41': 9,
 'Q42': 9,
 'Q43': 1,
 'Q44': 12,
 'Q5': 1,
 'Q6': 12,
 'Q7': 7,
 'Q8': 1,
 'Q9': 1,
 'Year': 1,
 'age': 1,
 'country': 1,
 'duration': 1,
 'gender': 1,
 'role': 1,
 'sid': 1}

In [ ]:
for key,value in tqdm(ques_dict.items()):
    cols = [col for col in ks1.columns if f'{key}' in col]
    ks1.loc[ks1[cols].isnull().sum(axis=1)==value,f'{key}_X'] = 'No Answer'

100%|| 46/46 [00:23<00:00,  1.94it/s]

In [ ]:
ks1.shape

(113582, 344)

In [ ]:
ks1.drop(columns=['Year_X', 'age_X', 'country_X','duration_X', 'gender_X', 'role_X', 'sid_X'],inplace=True)

In [ ]:
ks1.shape

(113582, 337)

In [ ]:
# saving the main melted file
ks1.to_parquet('/content/drive/MyDrive/ml-workspace/kaggle/comp/kaggle-survey/data/kaggle_survey_2018_2022_modifed1.parquet',index=False)

In [ ]:
ks1.to_csv('/content/drive/MyDrive/ml-workspace/kaggle/comp/kaggle-survey/data/kaggle_survey_2018_2022_modifed1.csv',index=False)

In [ ]:
# demographic variables
id_vars = list(ks1.columns)[:7]
val_vars = list(ks1.columns)[7:]

In [ ]:
ks1_melt = ks1.melt(id_vars=id_vars, value_vars = val_vars, var_name='question', value_name='answer')

In [ ]:
ks1_melt.sample(10)

,sid,Year,duration,age,gender,country,role,question,answer
5048893,2020_1315,2020,789,35-39,Male,Germany,Data Scientist,Q13_4,NaN
13031858,2019_13504,2019,316,40-44,Male,South Korea,Data Scientist,Q18_13,NaN
19575119,2021_15018,2021,768,35-39,Male,Ecuador,Software Engineer,Q33_5,NaN
13711021,2019_11175,2019,495,45-49,Male,India,Other,Q19_5,NaN
14041331,2019_739,2019,640,35-39,Male,India,Manager,Q19_8,NaN
14853589,2019_17923,2019,587,30-34,Male,France,Data Scientist,Q21_1,NaN
21221019,2018_5044,2018,1038,30-34,Female,Japan,Software Engineer,Q35_6,NaN
29113654,2021_12665,2021,1042,30-34,Male,Other,Software Engineer,Q40_12,NaN
27278409,2022_18729,2022,1079,18-21,Male,India,Student,Q39_8,NaN
32000503,2019_13955,2019,566,25-29,Male,China,Unemployed,Q44_3,NaN

In [ ]:
# # checking if it is easy to pivot the melted table
# ks1_melt[(ks1_melt['question'].str.contains('Q6')) & (ks1_melt['Year']==2022)].pivot_table(values='duration',index='age',columns='answer',aggfunc='count',margins=True)

In [ ]:
# # checking if I can use the file in power Bi for making dashboard
# ks1_q6 = ks1_melt[ks1_melt['question'].str.contains('Q6')]
# ks1_q6.to_csv('/content/drive/MyDrive/ml-workspace/kaggle/comp/kaggle-survey/data/tables/ks1_q6.csv',index=False)

In [ ]:
ks1_melt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37482060 entries, 0 to 37482059
Data columns (total 9 columns):
 #   Column    Dtype
---  ------    -----
 0   sid       object
 1   Year      int64
 2   duration  int64
 3   age       object
 4   gender    object
 5   country   object
 6   role      object
 7   question  object
 8   answer    object
dtypes: int64(2), object(7)
memory usage: 2.5+ GB

In [ ]:
ks1_melt['Year'] = pd.to_datetime(ks1_melt['Year'], format='%Y')
ks1_melt['Year'] = ks1_melt['Year'].dt.year

In [ ]:
ks1_melt['Year'] = ks1_melt['Year'].astype('category')
ks1_melt['age'] = ks1_melt['age'].astype('category')
ks1_melt['gender'] = ks1_melt['gender'].astype('category')
ks1_melt['country'] = ks1_melt['country'].astype('category')
ks1_melt['role'] = ks1_melt['role'].astype('category')
ks1_melt['question'] = ks1_melt['question'].astype('category')
ks1_melt['duration'] = ks1_melt['duration'].astype('int16')
ks1_melt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37482060 entries, 0 to 37482059
Data columns (total 9 columns):
 #   Column    Dtype
---  ------    -----
 0   sid       object
 1   Year      category
 2   duration  int16
 3   age       category
 4   gender    category
 5   country   category
 6   role      category
 7   question  category
 8   answer    object
dtypes: category(6), int16(1), object(2)
memory usage: 893.7+ MB

Lets drop the duration column

In [ ]:
ks1_melt = ks1_melt.drop(columns=['duration'],axis=1)

In [ ]:
ks1_melt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37482060 entries, 0 to 37482059
Data columns (total 8 columns):
 #   Column    Dtype
---  ------    -----
 0   sid       object
 1   Year      category
 2   age       category
 3   gender    category
 4   country   category
 5   role      category
 6   question  category
 7   answer    object
dtypes: category(6), object(2)
memory usage: 822.2+ MB

In [ ]:
# saving the main melted file
ks1_melt.to_parquet('/content/drive/MyDrive/ml-workspace/kaggle/comp/kaggle-survey/data/kaggle_survey_2018_2022_melted1.parquet',index=False)

In [ ]:
ks1_melt.shape

(37482060, 8)

In [ ]:
ks1['Q11_X'].isnull().sum()

102496

In [ ]:
np.array(ks1.columns)

array(['sid', 'Year', 'duration', 'age', 'gender', 'country', 'role',
       'Q5', 'Q6_1', 'Q6_2', 'Q6_3', 'Q6_4', 'Q6_5', 'Q6_6', 'Q6_7',
       'Q6_8', 'Q6_9', 'Q6_10', 'Q6_11', 'Q6_12', 'Q7_1', 'Q7_2', 'Q7_3',
       'Q7_4', 'Q7_5', 'Q7_6', 'Q7_7', 'Q8', 'Q9', 'Q10_1', 'Q10_2',
       'Q10_3', 'Q11', 'Q12_1', 'Q12_2', 'Q12_3', 'Q12_4', 'Q12_5',
       'Q12_6', 'Q12_7', 'Q12_8', 'Q12_9', 'Q12_10', 'Q12_11', 'Q12_12',
       'Q12_13', 'Q12_14', 'Q12_15', 'Q13_1', 'Q13_2', 'Q13_3', 'Q13_4',
       'Q13_5', 'Q13_6', 'Q13_7', 'Q13_8', 'Q13_9', 'Q13_10', 'Q13_11',
       'Q13_12', 'Q13_13', 'Q13_14', 'Q14_1', 'Q14_2', 'Q14_3', 'Q14_4',
       'Q14_5', 'Q14_6', 'Q14_7', 'Q14_8', 'Q14_9', 'Q14_10', 'Q14_11',
       'Q14_12', 'Q14_13', 'Q14_14', 'Q14_15', 'Q14_16', 'Q15_1', 'Q15_2',
       'Q15_3', 'Q15_4', 'Q15_5', 'Q15_6', 'Q15_7', 'Q15_8', 'Q15_9',
       'Q15_10', 'Q15_11', 'Q15_12', 'Q15_13', 'Q15_14', 'Q15_15', 'Q16',
       'Q17_1', 'Q17_2', 'Q17_3', 'Q17_4', 'Q17_5', 'Q17_6', 'Q17_7',
       'Q17_8', 'Q17_9', 'Q17_10', 'Q17_11', 'Q17_12', 'Q17_13', 'Q17_14',
       'Q17_15', 'Q18_1', 'Q18_2', 'Q18_3', 'Q18_4', 'Q18_5', 'Q18_6',
       'Q18_7', 'Q18_8', 'Q18_9', 'Q18_10', 'Q18_11', 'Q18_12', 'Q18_13',
       'Q18_14', 'Q19_1', 'Q19_2', 'Q19_3', 'Q19_4', 'Q19_5', 'Q19_6',
       'Q19_7', 'Q19_8', 'Q20_1', 'Q20_2', 'Q20_3', 'Q20_4', 'Q20_5',
       'Q20_6', 'Q21_1', 'Q21_2', 'Q21_3', 'Q21_4', 'Q21_5', 'Q21_6',
       'Q21_7', 'Q21_8', 'Q21_9', 'Q21_10', 'Q22', 'Q24', 'Q25', 'Q26',
       'Q27', 'Q28_1', 'Q28_2', 'Q28_3', 'Q28_4', 'Q28_5', 'Q28_6',
       'Q28_7', 'Q28_8', 'Q29', 'Q30', 'Q31_1', 'Q31_2', 'Q31_3', 'Q31_4',
       'Q31_5', 'Q31_6', 'Q31_7', 'Q31_8', 'Q31_9', 'Q31_10', 'Q31_11',
       'Q31_12', 'Q32', 'Q33_1', 'Q33_2', 'Q33_3', 'Q33_4', 'Q33_5',
       'Q34_1', 'Q34_2', 'Q34_3', 'Q34_4', 'Q34_5', 'Q34_6', 'Q34_7',
       'Q34_8', 'Q35_1', 'Q35_2', 'Q35_3', 'Q35_4', 'Q35_5', 'Q35_6',
       'Q35_7', 'Q35_8', 'Q35_9', 'Q35_10', 'Q35_11', 'Q35_12', 'Q35_13',
       'Q35_14', 'Q35_15', 'Q35_16', 'Q36_1', 'Q36_2', 'Q36_3', 'Q36_4',
       'Q36_5', 'Q36_6', 'Q36_7', 'Q36_8', 'Q36_9', 'Q36_10', 'Q36_11',
       'Q36_12', 'Q36_13', 'Q36_14', 'Q36_15', 'Q37_1', 'Q37_2', 'Q37_3',
       'Q37_4', 'Q37_5', 'Q37_6', 'Q37_7', 'Q37_8', 'Q37_9', 'Q37_10',
       'Q37_11', 'Q37_12', 'Q37_13', 'Q38_1', 'Q38_2', 'Q38_3', 'Q38_4',
       'Q38_5', 'Q38_6', 'Q38_7', 'Q38_8', 'Q39_1', 'Q39_2', 'Q39_3',
       'Q39_4', 'Q39_5', 'Q39_6', 'Q39_7', 'Q39_8', 'Q39_9', 'Q39_10',
       'Q39_11', 'Q39_12', 'Q40_1', 'Q40_2', 'Q40_3', 'Q40_4', 'Q40_5',
       'Q40_6', 'Q40_7', 'Q40_8', 'Q40_9', 'Q40_10', 'Q40_11', 'Q40_12',
       'Q40_13', 'Q40_14', 'Q40_15', 'Q41_1', 'Q41_2', 'Q41_3', 'Q41_4',
       'Q41_5', 'Q41_6', 'Q41_7', 'Q41_8', 'Q41_9', 'Q42_1', 'Q42_2',
       'Q42_3', 'Q42_4', 'Q42_5', 'Q42_6', 'Q42_7', 'Q42_8', 'Q42_9',
       'Q43', 'Q44_1', 'Q44_2', 'Q44_3', 'Q44_4', 'Q44_5', 'Q44_6',
       'Q44_7', 'Q44_8', 'Q44_9', 'Q44_10', 'Q44_11', 'Q44_12', 'Q10_X',
       'Q11_X', 'Q12_X', 'Q13_X', 'Q14_X', 'Q15_X', 'Q16_X', 'Q17_X',
       'Q18_X', 'Q19_X', 'Q20_X', 'Q21_X', 'Q22_X', 'Q24_X', 'Q25_X',
       'Q26_X', 'Q27_X', 'Q28_X', 'Q29_X', 'Q30_X', 'Q31_X', 'Q32_X',
       'Q33_X', 'Q34_X', 'Q35_X', 'Q36_X', 'Q37_X', 'Q38_X', 'Q39_X',
       'Q40_X', 'Q41_X', 'Q42_X', 'Q43_X', 'Q44_X', 'Q5_X', 'Q6_X',
       'Q7_X', 'Q8_X', 'Q9_X'], dtype=object)

In [ ]:
# Lets save file for power Bi dashboard
# saving the fact table
ks1[['sid','Year','age','country','role']].to_csv('/content/drive/MyDrive/ml-workspace/kaggle/comp/kaggle-survey/data/power_bi/Fact_respondent.csv',index=False)

In [ ]:
question = np.array(ks1_melt['question'].unique())

In [ ]:
q_list = [re.sub(r"_.*","",x) for x in question]

In [ ]:
q_list = np.unique(q_list).astype('object')

In [ ]:
q_list

array(['Q10', 'Q11', 'Q12', 'Q13', 'Q14', 'Q15', 'Q16', 'Q17', 'Q18',
       'Q19', 'Q20', 'Q21', 'Q22', 'Q24', 'Q25', 'Q26', 'Q27', 'Q28',
       'Q29', 'Q30', 'Q31', 'Q32', 'Q33', 'Q34', 'Q35', 'Q36', 'Q37',
       'Q38', 'Q39', 'Q40', 'Q41', 'Q42', 'Q43', 'Q44', 'Q5', 'Q6', 'Q7',
       'Q8', 'Q9'], dtype=object)

In [ ]:
for i in tqdm(q_list):
    df = ks1_melt[['sid','question','answer']][ks1_melt['question'].str.contains(f'{i}')].reset_index(drop=True)
    df.to_csv(f'/content/drive/MyDrive/ml-workspace/kaggle/comp/kaggle-survey/data/power_bi/Dim_{i}.csv',index=False)

100%|| 39/39 [02:18<00:00,  3.54s/it]

In [ ]:
ks1_melt[['sid','question','answer']][ks1_melt['question'].str.contains('Q6')].reset_index(drop=True).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1476566 entries, 0 to 1476565
Data columns (total 3 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   sid       1476566 non-null  object
 1   question  1476566 non-null  category
 2   answer    232748 non-null   object
dtypes: category(1), object(2)
memory usage: 25.4+ MB

In [ ]:
ks1_melt[['sid','question','answer']][ks1_melt['question'].str.contains('Q6')].dropna().reset_index(drop=True)

               sid question     answer
0           2022_2     Q6_1   Coursera
1           2022_3     Q6_1   Coursera
2           2022_5     Q6_1   Coursera
3           2022_7     Q6_1   Coursera
4           2022_8     Q6_1   Coursera
...            ...      ...        ...
232743  2018_23854     Q6_X  No Answer
232744  2018_23855     Q6_X  No Answer
232745  2018_23856     Q6_X  No Answer
232746  2018_23857     Q6_X  No Answer
232747  2018_23858     Q6_X  No Answer

[232748 rows x 3 columns]

In [ ]:
for i in tqdm(q_list):
    df = ks1_melt[['sid','question','answer']][ks1_melt['question'].str.contains(f'{i}')].dropna().reset_index(drop=True)
    df.to_csv(f'/content/drive/MyDrive/ml-workspace/kaggle/comp/kaggle-survey/data/new_power_bi/Dim_{i}.csv',index=False)

100%|| 39/39 [01:03<00:00,  1.62s/it]

In [ ]:
# Lets save file for power Bi dashboard
# saving the fact table
ks1[['sid','Year','age','country','role']].to_csv('/content/drive/MyDrive/ml-workspace/kaggle/comp/kaggle-survey/data/new_power_bi/Fact_respondent.csv',index=False)

In [ ]:
ks1_melt.dropna().reset_index(drop=True).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5639053 entries, 0 to 5639052
Data columns (total 8 columns):
 #   Column    Dtype
---  ------    -----
 0   sid       object
 1   Year      category
 2   age       category
 3   gender    category
 4   country   category
 5   role      category
 6   question  category
 7   answer    object
dtypes: category(6), object(2)
memory usage: 123.7+ MB